#skills {
  height: calc(100vh - 3rem);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skills section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}

#skills #work-with-text {
  margin-top: 3em;
  margin-left: 3em;
  font-weight: 800;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  #skills {
    height: 100%;
  }
  #skills section {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  #skills {
    height: 100%;
  }

  #skills section {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
