input[type='text'],
input[type='email'] {
  font-size: 1.1em;
  width: 90%;
  outline: none;
  background-color: #1e1e1e;
  color: white;
  border-radius: 0px;
  border: none;
  padding: 1.5em;
}

.textarea {
  font-size: 1.1em;
  width: 90%;
  resize: none;
  color: white;
  background-color: #1e1e1e;
  border-radius: 0px;
  border: none;
  outline: none;
  padding: 1.5em;
}
