input:focus {
  box-shadow: 0px 0px 12px 1px #7f00ff;
  margin: 0.5em 0;
}

textarea:focus {
  box-shadow: 0px 0px 12px 1px #7f00ff;
  margin: 0.5em 0;
}

input[type='text'],
input[type='email'] {
  font-size: 1.1em;
  width: 100%;
  outline: none;
  background-color: #1e1e1e;
  color: white;
  border-radius: 0px;
  border: none;
  padding: 1.5em;
  transition: 0.5s;
}

.textarea {
  font-size: 1.1em;
  width: 100%;
  resize: none;
  color: white;
  background-color: #1e1e1e;
  border-radius: 0px;
  border: none;
  outline: none;
  padding: 1.5em;
  transition: 0.5s;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  input[type='text'],
  input[type='email'] {
    font-size: 0.8em;
    padding: 1em;
  }

  .textarea {
    font-size: 0.8em;
    padding: 1em;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  input[type='text'],
  input[type='email'] {
    font-size: 0.8em;
    padding: 1em;
  }

  .textarea {
    font-size: 0.8em;
    padding: 1em;
  }
}
