#loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #0a0a0a 10%,
    #1e1e1e 70%,
    #2f2f2f 100%
  );
  overflow-x: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#loading-text {
  flex-grow: 0.99;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#welcome {
  text-align: center;
  font-size: 5rem;
}

#build {
  text-align: center;
}

.build-techno {
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #7f00ff 10%, #e100ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 20px #7f00ff;
}

#love {
  box-shadow: 2px 2px 20px #7f00ff;
  text-shadow: 2px 2px 20px white;
  font-weight: 800;
  margin: 0.2em;
  font-style: italic;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(45deg, #7f00ff 10%, #e100ff 100%);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  #welcome {
    font-size: 2rem;
  }
  #build {
    font-size: 1.3rem;
    padding: 0 1em;
    line-height: 2.5em;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  #welcome {
    font-size: 4rem;
  }
  #build {
    font-size: 1.7rem;
  }
}
