.bar-loader {
  position: absolute;
  right: calc(50% - 150px / 2);
  width: 150px;
  z-index: 2;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #0a0a0a 10%,
    #1e1e1e 70%,
    #2f2f2f 100%
  );
  background-repeat: no-repeat;
}

.bar-loader span {
  padding: 0.5em;
  font-weight: 800;
}
