#works {
  height: calc(100vh - 3rem);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#works section {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  outline: none;
}

#idea-to-reality {
  align-self: center;
  justify-self: center;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  font-size: 1.4em;
  width: 50%;
  padding: 2rem 2rem;
  transition: 1s;
  color: white;
  border: none;
  border-radius: 3px;
  font-variant: small-caps;
  background: -webkit-linear-gradient(45deg, #7f00ff 10%, #e100ff 100%);
  box-shadow: 2px 2px 20px #7f00ff;
  line-height: 2rem;
}

#idea-to-reality:hover {
  background: #7f00ff;
  box-shadow: 2px 2px 20px #e100ff;
}

#idea-to-reality:active {
  outline: none;
}
#idea-to-reality:hover {
  background: #7f00ff;
  box-shadow: 2px 2px 20px #e100ff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  #works {
    height: 100%;
    margin-top: 3rem;
  }
  #works section {
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
  #idea-to-reality {
    font-size: 1em;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  #works {
    height: 100%;
    margin-top: 3rem;
  }
  #works section {
    margin-top: 4em;
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #works section {
    margin-top: 5em;
    display: grid;
    padding: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #works {
    height: 100%;
    margin-top: 3rem;
  }
  #works section {
    margin-top: 4em;
    display: grid;
    padding: 0.5em;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}
