.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
  width: 80em;
}

.submit {
  color: black;
  width: 90%;
  padding: 1em;
  background: white;
  border: 2px solid #7f00ff;
  font-weight: 800;
  font-variant: small-caps;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  margin: 0 auto;
}

.submit:hover {
  background: #7f00ff;
  color: white;
}

.submit:disabled {
  color: black;
  background: grey;
  cursor: inherit;
}

.submit:disabled:hover {
  background: grey;
  color: black;
}
