html {
  background-image: linear-gradient(
    to right top,
    #0a0a0a 10%,
    #1e1e1e 70%,
    #2f2f2f 100%
  );
}

body {
  color: white;
  font-family: 'Muli';
  font-variant: small-caps;
  overflow-x: hidden;
  user-select: none;
  background-image: linear-gradient(
    to right top,
    #0a0a0a 10%,
    #1e1e1e 70%,
    #2f2f2f 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
