.card-container {
  cursor: pointer;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: box-shadow 0.5s ease 0s;
  box-shadow: 0px 0px 10px 0px #7f00ff;
}

.card-container:hover {
  box-shadow: 0px 0px 17px 0px #e100ff;
}

#title-work {
  align-self: flex-start;
  background: -webkit-linear-gradient(#7f00ff, #e100ff);
  font-weight: 800;
  display: inline;
  font-size: 1.3em;
  font-style: italic;
  padding: 0.2em;
}

#text-work {
  margin-top: 1em;
  line-height: 2em;
  text-align: center;
}

#subtitle-work {
  font-size: 1.2em;
  font-weight: 800;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  #text-work {
    padding: 1em;
    margin-top: 1em;
    line-height: 1.5em;
    text-align: center;
  }
}
