.theme-techno-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.theme-techno-name {
  font-style: italic;
  text-align: center;
}

.techno-name-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-top: 1.2em;
  padding: 0 10em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .techno-name-container {
    padding: 1em 2em;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .techno-name-container {
    padding: 1em 2em;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1440px) {
  .techno-name-container {
    padding: 1em 2em;
  }
}
