#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3rem);
  margin-top: 3rem;
}

#home #home-text {
  font-size: 5em;
  line-height: 2em;
  text-align: center;
}

#home .important-techno {
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #7f00ff 10%, #e100ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home #country {
  font-style: italic;
  font-weight: lighter;
}
