#contact {
  height: calc(100vh - 3rem);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  #contact {
    height: 100%;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
}
