.Modal {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    rgb(10, 10, 10) 10%,
    rgb(30, 30, 30) 70%,
    rgb(47, 47, 47) 100%
  );
  position: absolute;
  top: 10rem;
  bottom: 10rem;
  right: 10rem;
  left: 10rem;
  z-index: 1;
  border: 3px solid white;
  cursor: auto;
  opacity: 1 !important;
}

.Overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(
    45deg,
    hsla(270, 100%, 50%, 0.233),
    hsla(293, 100%, 50%, 0.205)
  );
}

.closed {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

#work-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

#work-description h4 {
  box-shadow: 2px 2px 20px #7f00ff;
  background: -webkit-linear-gradient(#7f00ff, #e100ff);
  width: 0.2%;
  align-self: flex-start;
  text-align: center;
  border-radius: 1px;
  padding: 0.5em;
  font-size: 2em;
  font-style: italic;
}

#work-description p {
  margin: 5em;
  font-size: 1.3em;
  line-height: 1.9em;
  text-align: center;
}
