.Modal {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    rgb(10, 10, 10) 10%,
    rgb(30, 30, 30) 70%,
    rgb(47, 47, 47) 100%
  );
  position: fixed;
  top: 10rem;
  bottom: 10rem;
  right: 10rem;
  left: 10rem;
  z-index: 3;
  border: 3px solid white;
  cursor: auto;
  opacity: 1 !important;
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 1s;
}

.Overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(
    45deg,
    hsla(270, 100%, 50%, 0.233),
    hsla(293, 100%, 50%, 0.205)
  );
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.closed {
  cursor: pointer;
  margin-right: 1em;
  align-self: flex-end;
}

#work-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#work-description p {
  padding: 3em 5em;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.9em;
}

#button-wrapper {
  align-self: flex-end;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .Modal {
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      to right top,
      rgb(10, 10, 10) 10%,
      rgb(30, 30, 30) 70%,
      rgb(47, 47, 47) 100%
    );
    position: fixed;
    top: 3rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    border: none;
    opacity: 1 !important;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
}
