.modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-container {
  flex-grow: 0.03;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  margin-top: 10vh;
  flex-grow: 0.97;
}

#icon-close-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-modal {
  color: white;
  background: -webkit-linear-gradient(#7f00ff, #e100ff);
  width: 0.3em;
  font-weight: 800;
  font-size: 5vh;
}

.text-presentation-work-modal-container {
  margin-top: 3vh;
  justify-content: center;
  display: flex;
}

.text-presentation-work-modal {
  width: 85%;
  line-height: 4.5vh;
  text-align: justify;
  font-size: 3vh;
}

.link-to-website {
  outline: none !important;
  text-decoration: none;
  color: none;
  border: none;
}

.link-to-website:hover {
  color: none;
  border: none;
  text-decoration: none;
  outline: none;
}

.link-to-website:active {
  color: none;
  border: none;
  text-decoration: none;
  outline: none;
}

.link-to-website:focus {
  color: none;
  border: none;
  text-decoration: none;
  outline: none !important;
}

.link-to-website-container {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
