header {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3rem;
  background-image: linear-gradient(to right top, #1e1e1e 70%, #2f2f2f 100%);
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.typist {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

header div span {
  padding: 1em;
  font-size: 1.5em;
  font-weight: 700 !important;
  background: -webkit-linear-gradient(#7f00ff, #e100ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cursor {
  padding: 0.5em;
  -webkit-animation: blink-cursor 0.9s both infinite;
  animation: blink-cursor 0.9s both infinite;
}

@keyframes blink-cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
