#discover-my-world {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 0;
  font-weight: 800;
  z-index: 4;
  height: 3rem;
}
