nav div {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.1em;
  padding-left: 1em;
}

nav ul {
  margin: 0 1.5em 0 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0 1em;
  cursor: pointer;
  transition: 0.5s;
}

nav ul li:hover {
  text-shadow: 2px 2px 20px #7f00ff;
}

.li-active {
  text-shadow: 2px 2px 20px #7f00ff;
  background: -webkit-linear-gradient(45deg, #7f00ff, #e100ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
